<div class="recipe recipe-list-item">
  {% if recipe.cover %}
    <div class="recipe-list-cover">
      <img src="{{recipe.cover.url}}" alt="" />
    </div>
  {% endif %}

  <div class="recipe-title-container">
    <h2 class="recipe-title">{{recipe.title}}</h2>
  </div>

  <div class="recipe-autor">
    <span class="recipe-autor-item">
      <i class="fas fa-user"></i>
      {% if recipe.author.first_name %} 
        {{recipe.author.first_name}}
        {{recipe.author.last_name}} 
      {% else %} 
        {{recipe.author.username}} 
      {%endif%}
    </span>
    <span class="recipe-autor-item">
      <i class="fas fa-calendar-alt"></i>
      {{recipe.created_at}}
    </span>
    <span class="recipe-autor-item">
      <a href="{% url 'recipes:category' recipe.category.id %}">
        <i class="fa fa-layer-group"></i>
        <span>{{recipe.category.name}}</span>
      </a>
    </span>
  </div>

  <div class="recipe-content">
    <p>{{recipe.description}}</p>
  </div>

  <div class="recipe-meta-container">
    <div class="recipe-meta recipe-meta-preparation">
      <h3 class="recipe-meta-title">
        Preparo
        <i class="fas fa-stopwatch"></i>
      </h3>
      <div class="recipe-meta-text">
        {{recipe.prepararion_time}}{{recipe.prepararion_time_unit}}
      </div>
    </div>
    <div class="recipe-meta recipe-servings">
      <h3 class="recipe-meta-title">
        <i class="fas fa-pizza-slice"></i>
        Porcoes
      </h3>
      <div class="recipe-meta-text">
        {{recipe.servings}}{{recipe.servings_unit}}
      </div>
    </div>
  </div>

  {% if is_datail_page is not True %}
    <footer class="recipe-footer">
      <a
        href="recipes/3"
        class="recipe-read-more button button-dark button-full-width"
      >
        <i class="fa fa-eye"></i>
        <span>ver mais...</span>
      </a>
    </footer>
  {% endif %} 

  {% if is_datail_page is True %}
    <div class="preparation-steps">{{recipe.prepartation_steps}}</div>
  {% endif %}
</div>
